.Kanbas .btn {
  border: 1px solid #bbb !important;
  border-radius: 3px;
  background: #eee;
}
.Kanbas .btn:hover {
  background: #dedede;
}
.Kanbas .btn-red {
  background: #d41b2c;
  color: white !important;
  border: 1px solid #666 !important;
}
.Kanbas .btn-red:hover {
  background: #be1827;
}
.Kanbas .btn-green {
  background: green;
  color: white !important;
  border: 1px solid #666 !important;
}
.Kanbas .btn-green:hover {
  background: #007300;
}
